

// ### Primary colors
$Soft-red: hsl(10, 79%, 65%);
$Soft-red-hover: hsl(10, 79%, 80%);
$Cyan: hsl(186, 34%, 60%);
$Cyan-hover: hsl(186, 34%, 75%);

// ### Neutral-colors

$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Very-pale-orange: hsl(33, 100%, 98%);
